# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build directories
build/
dist/

# Environment variables
.env

# Local development files
.DS_Store
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Ignore client build artifacts
client/build
